<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{{title}}</title>
    <script type="text/javascript">(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script> 
    <link href="../../stylesheets/screen.css" type="text/css" rel="stylesheet" media="Screen,projection" />
    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular,bold);
      .slide {
        font-family: 'Yanone Kaffeesatz', arial, serif;
        font-weight: bold;
        font-size: 144px;
        text-align: center;
        margin: 33% 0px;
        width: 85%;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1>{{title}}</h1>
      </div>
    </div>
    
    <div id="content">
      <div id="slides">
{{#slides}}
        <div class="slide slide_{{slide_num}}">
            {{markup}}
        </div>
{{/slides}}
      </div>
    </div>
    
    <div id="footer">
      <div class="container">
        <span class="colophon">
            {{{colophon}}}
        </span>
        <span class="tech">
            <address>presentation hotness by CouchDB &amp; the <a href="http://www.viget.com/inspire/jquery-presentation-plugin/">jQuery Presentation Plugin</a></address>
        </span>
      </div>
    </div>
    <script type="text/javascript" src="../../scripts/jquery.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.presentation.js"></script>
    <script type="text/javascript" src="../../scripts/global.js"></script>
  </body>
</html>
